<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Grupos Alimentares</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  
  <ion-list>
    <button class="btn-color" ion-item *ngFor="let item of dataTables" (click)="itemSelected(item)">
      {{ item.name }}
    </button>  
  </ion-list>

</ion-content>