<ion-tabs [selectedIndex]="myIndex" color="secondary">
  <ion-tab [root]="tab1Root" tabTitle="Tabelas" tabIcon="grid"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Instruções" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Mensagens" tabIcon="chatbubbles"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Sobre Nós" tabIcon="medkit"></ion-tab>
</ion-tabs>