<ion-header>
  <ion-navbar color="primary">
    
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Instruções</ion-title>

  </ion-navbar>
</ion-header>
 
<ion-content padding>
  
  <!-- <button ion-button block (click)="playVideo()" color="secondary">
    Play Video Player</button>

  <button ion-button block (click)="playVideoStreaming()" color="secondary">
      Play Video Streaming</button> -->
    
  <ion-item>
    <strong>Instruções de Vídeo</strong>
  </ion-item>
  
  
  <ion-card *ngFor="let v of videos">
    <ion-card-header>
      {{v.title}}
    </ion-card-header>
    <ion-card-content>
      <iframe [id]="v.id" width="560" height="315" [src]="v.video | youtube" frameborder="0" frameborder="0"></iframe>
    </ion-card-content>
  </ion-card>

    <video id="rockBell" preload="auto" width="320" height="240" controls autoplay="false">
      <source src="http://138.197.81.222:8080/videos/test1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

</ion-content>