page-about-us {

  .treat-list {
    padding-left: 10px;
    margin-top: 0;
  }

  .img-box {
    float: left;
    width: 26px;
    height: 20px;
  }
  
  .address{
    border-color: red;
  }

  .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
    margin-left: 10px;
  }

  img {
    padding: 5px;
  }

  #phone-ico {
    margin-right: 10px;
    font-size: 1.6em;
  }
  #phone-item {
    padding-left: 5px;
  }

  #email-ico {
    margin-right: 10px;
    font-size: 1.6em;
  }
  #email-item {
    padding-left: 5px;
  }

  a {
    text-decoration: none;
  }

  .shrink-scroll {
    font-size: 1.3rem;
    overflow-x: auto;
    white-space: nowrap;
  }

}
