<ion-header>
  <ion-navbar color="primary">
    
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sobre Nós</ion-title>

  </ion-navbar>
</ion-header>
 
<ion-content padding>

  <ion-list>
    <ion-item>
      <img src="assets/img/logo.png" width="300" height="110">
    </ion-item>
  </ion-list>
  
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6 col-xl-3>
      <ion-card class="dr-card">
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/dr1.png">
          </ion-avatar>
          <h2>Dr. João Henrique Boliani</h2>
          <p>CRMSP 134534</p>
        </ion-item>
      
        <img src="assets/img/dr1.png">
      
        <ion-card-content>
          <p>Dr. João Henrique Boliani (CRMSP 134534). Médico formado pela Universidade de Ribeirão Preto, com Pós-graduação em Endocrinologia e Metabologia pelo IPEMED/SP e Pós-graduação em Medicina do Exercício e do Esporte no Instituto BWS/SP. Especialista em Medicina do Exercício e do Esporte pela Sociedade Brasileira de Medicina do Exercício e do Esporte (RQE 59452).</p>
        </ion-card-content>    
      </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6 col-xl-3>
      <ion-card class="treat-card">
        <ion-item>
          <ion-icon item-start ios="ios-medkit" md="md-medkit"></ion-icon>
          <strong>Tratamentos</strong>
        </ion-item>
    
        <ion-card-content>
          <ul class="treat-list">
            <li>
              Avaliação Pré-Exercício: Check-Up Médico Fitness
            </li>
            <li>
              Hipertrofia Muscular Ou Emagrecimento 
            </li>
            <li>
              Performance Esportiva
            </li>
            <li>
              Pacientes Com Doenças Prévias, Idosos, Crianças E Gestantes
            </li>
            <li>Lesões Esportivas</li>
            <li>
              Medicina Preventiva E Envelhecimento Saudável
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6 col-xl-3>
      <ion-card class="clinic-card">
        <ion-item>
          <ion-icon item-start ios="ios-medkit" md="md-medkit"></ion-icon>
          <strong>A Clínica</strong>
        </ion-item>
      
        <img src="assets/img/clinica1.jpg" width="100%">
      
        <ion-card-content>
          <p>A MedClinic conta com toda estrutura necessária para o seu conforto. Nela atuam os médicos Dr. Luis Otávio Cintra Avezum (Pneumologista – CRMSP 76406) e o Dr. João Henrique Boliani (Médico do Esporte – CRMSP 134534); bem como a fisioterapeuta Larissa Maria Petean Lorenzetti (CREFITO 499362F). Confira os procedimentos e os exames disponíveis:</p>

          <ul class="treat-list">
              <li>
                Avaliação Antropométrica
              </li>
              <li>
                  Orientação Dietética Individualizada
              </li>
            <li>
                Exame de Espirometria
            </li>
            <li>
                Exame de Polissonografia
            </li>
            <li>
                Exame de Bioimpedância
            </li>
            <li>
                Clínica de Vacinação Avezum
                <div>
                  <small><i>“A vacinação deve ser inserida no contexto do atendimento ao atleta” Diretrizes SBMEE/SBIm</i></small>
                </div>
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6 col-xl-3>
      <ion-card class="contact-card">
        <ion-item>
          <ion-icon item-start ios="ios-medkit" md="md-medkit"></ion-icon>
          <strong>Nosso Endereço</strong>
        </ion-item>
    
        <img src="assets/img/clinica3.jpg">

        <ion-card-content>
          <p>Rua Romildo Cervelatti, 189 – Jardim Bela Vista</p>
          <p>Birigui – SP – CEP 16200-719</p>
          
          <ion-item id="phone-item">
            <ion-icon id="phone-ico" item-start ios="ios-call" md="md-call" color="primary"></ion-icon>
            <strong>Telefone</strong> 
            <div class="shrink-scroll">
              <a href="tel:+551830211819">(18) 3021-1819</a>/
              <a href="tel:+551830214744">(18) 3021-4744</a></div>
          </ion-item>

          <ion-item id="email-item">
            <ion-icon id="email-ico" item-start ios="ios-mail" md="md-mail" color="primary"></ion-icon>
            <strong>Email</strong>
            <div class="shrink-scroll"><a href="mailto:contato@drboliani.com.br">contato@drboliani.com.br</a></div>
          </ion-item>

        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
