<ion-header>
  <ion-navbar color="primary">
    <ion-title>Mensagem</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<form [formGroup]="adminMessageForm" (ngSubmit)="save()">
  <ion-list>        
    <ion-item>
      <ion-label floating>Mensagem</ion-label>
      <ion-textarea type="text" rows="3" maxlength="250" required
        class="no-resize" formControlName="message"  
        (ionBlur)="validateField('message')"></ion-textarea>
    </ion-item>
    <div *ngIf="formErrors.message" class="validation-msg">
      <li *ngFor="let error of formErrors.message">
        <small>{{error}}</small>
      </li>
    </div>
  </ion-list>
  
  <button ion-button icon-left small outline 
    color="secondary" type="submit" [disabled]="adminMessageForm.invalid">
      <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
    Salvar
  </button>

  <button ion-button icon-left small outline 
    color="secondary" navPop>
    <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back" item-left></ion-icon>
    Voltar
  </button>
</form>

</ion-content>
