<ion-header>

  <ion-navbar color="primary">
    <ion-title>Grupo Alimentar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<ion-grid>
  <ion-row>
    <ion-col col-12 class="group-header">
      <div>{{group.name}}</div>
      <div class="group-details">1 Porção = {{group.calPerPortion}} calorias</div>      
    </ion-col>
  </ion-row>

  <!-- Option 1 <ion-row>
    <ion-col col-12 class="line-header">
      <div class="line-title-left">Alimentos</div>
      <div class="line-title-right">Medida de 1 Porção</div>      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="line-header">
      <div class="line-left">Oleo Vegetal Composto de Soja e Oliva</div>
      <div class="line-right">1/2 Colher de Sopa</div>      
    </ion-col>
  </ion-row> -->

  <!-- Option 2 <ion-row>
    <ion-col col-12 class="one-line">
      <div class="small-title">Alimentos:</div>
      <div>Leite Semi Desnatado Longa Vida 2% Gordura - Padrao</div>
      <div class="small-title">Medida de 1 Porção:</div>
      <div>1 copo de requeijao</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="one-line">
      <div class="small-title">Alimentos:</div>
      <div>Frango Sobrecoxa Cozida Sem Pele Com Molho</div>
      <div class="small-title">Medida de 1 Porção:</div>
      <div>1/3 Sobrecoxa Grande</div>
    </ion-col>
  </ion-row> -->

  <!-- option 3 <ion-row>
    <ion-col col-12 class="one-line">
      <div class="food-txt">Leite Semi Desnatado Longa Vida 2% Gordura - Padrao</div>
      <div class="portion-txt">1 copo de requeijao</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="one-line">
      <div class="food-txt">Frango Sobrecoxa Cozida Sem Pele Com Molho</div>
      <div class="portion-txt">1/3 Sobrecoxa Grande</div>
    </ion-col>
  </ion-row> -->
  
  <!-- Option 4 <ion-row>
    <ion-col col-12 class="one-line" (click)="togglePortion(1)">        
      <div class="food-txt">
        <div class="food-txt-left">
          Leite Semi Desnatado Longa Vida 2% Gordura - Padrao
        </div>
        <div class="food-txt-icon">
          <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        </div>
      </div>
      <div *ngIf="f1" class="portion-txt">1 copo de requeijao</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="one-line" (click)="togglePortion(2)">
      <div class="food-txt">
        <div class="food-txt-left">
          Frango Sobrecoxa Cozida Sem Pele Com Molho
        </div>
        <div class="food-txt-icon">
          <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        </div>
      </div>      
      <div *ngIf="f2" class="portion-txt">1/3 Sobrecoxa Grande</div>
    </ion-col>
  </ion-row> -->


  <ion-row *ngFor="let item of group.items; index as i" >
    <ion-col col-12 class="one-line" (click)="togglePortion(i)">        
      <div class="food-txt">
        <div class="food-txt-left">
          {{item.food}}
        </div>
        <div class="food-txt-icon">
          <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        </div>
      </div>
      <div *ngIf="showPortions[i]" class="portion-txt">
        {{item.portion}}</div>
    </ion-col>
  </ion-row>

</ion-grid>

</ion-content>
