page-table {

  .group-header {
    background-color: map-get($colors, secondary);
    line-height: 1.7em;
    font-size: 1.8rem;
    color: map-get($colors, light);
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
  }

  .group-details {
    font-size: 1.5rem;
    line-height: 1.2em;
    opacity: 0.7;
  }

  .line-header {
    line-height: 2em;
    border-radius: 6px;
    background-color: #f4f4f4;
    margin: auto;
    margin-bottom: 1px;
  }

  .line-title-left {
    float: left;
    width: 50%;
    text-transform: uppercase;
  }
  .line-title-right {
    float: right;
    width: 50%;
    text-align: right;
    text-transform: uppercase;
  }

  .line-left {
    float: left;
    width: 50%;
  }
  .line-right {
    float: right;
    width: 50%;
    text-align: right;
  }

  .one-line {
    border-radius: 6px;
    background-color: #fff;
    margin-bottom: 2px;
  }

  .small-title {
    opacity: 0.5;
    line-height: 1.8em;
    font-size: 0.9em;
    padding-top: 3px;
  }

  .food-txt {
    text-transform: capitalize;
    line-height: 1.8em;
    vertical-align: middle;
    margin: auto;
    width: 100%;
    display: table;
  }

  .food-txt-left {
    float: left;
    width: 95%;
    display: table-cell;
  }

  .food-txt-icon {
    float: right;
    width: 5%;
    text-align: center;
    display: table-cell;
  }

  .portion-txt{
    opacity: 0.5;
    text-transform: capitalize;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: table-row;
  }

}
