<ion-header>
  <ion-navbar color="primary">
    
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mensagens</ion-title>

  </ion-navbar>
</ion-header>
 
<ion-content padding>
    
  <ion-card *ngFor="let item of messages" >
    <ion-card-header>
      {{item.createDate | date:'dd-MM-yyyy'}}
    </ion-card-header>
    <ion-card-content>
        {{item.message}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="messages.length == 0">
    <ion-card-content>
      Não há mensagens disponíveis no momento.
    </ion-card-content>
  </ion-card>
  
</ion-content>