page-messages {

  .card-md {
    border-radius: 10px;
  }

  .card-ios {
    border-radius: 10px;
  }

  .card-header-md {
    color: white;
    font-weight: bold;
    background-color: map-get($colors , secondary );
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card-header-ios {
    color: white;
    font-weight: bold;
    background-color: map-get($colors , secondary );
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card-header-md + .card-content-md {
    padding-top: 5px;
  }

  .card-header-ios + .card-content-ios {
    padding-top: 5px;
  }

}
