<ion-header>
  <ion-navbar color="primary">
    
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Incluir Mensagens</ion-title>

  </ion-navbar>
</ion-header>
 
<ion-content padding>

  <ion-fab top right edge>
    <button ion-fab mini color="secondary" (click)="addItem()">
      <ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-searchbar (ionInput)="searchMessages($event)" placeholder="Buscar"></ion-searchbar>
    <ion-card *ngFor="let item of messages">
      <ion-card-header>
        {{item.createDate | date:'dd-MM-yyyy'}}
      </ion-card-header>
      <ion-card-content>
        {{item.message}}
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="editItem(item)" >
            <ion-icon ios="ios-create" md="md-create"></ion-icon>
            <div>Editar</div>
          </button>
        </ion-col>
        
        <ion-col class="right-side">
          <button ion-button icon-left clear small (click)="removeItem(item)" >
            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
            <div>Remover</div>
          </button>
        </ion-col>    
      </ion-row>

    </ion-card>

</ion-content>