
page-admin-messages {

//  .round-center {
//    border-radius: 8px;
//    width: 98%;
//    margin-left: 5px;
//  }

  .card-content-md{
    white-space: normal;
  }
  .card-content-ios{
    white-space: normal;
  }

  .item-md {
    padding-left: 0;
  }
  .item-md.item-block .item-inner{
    padding-right: 0;
  }
  .label-md{
    margin-right: 0;
  }
  .item-ios {
    padding-left: 0;
  }
  .item-ios.item-block .item-inner{
    padding-right: 0;
  }
  .label-ios{
    margin-right: 0;
  }

  .card-md {
    border-radius: 10px;
  }
  .card-ios {
    border-radius: 10px;
  }

  .card-header-md {
    color: white;
    font-weight: bold;
    background-color: map-get($colors , secondary );
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .card-header-ios {
    color: white;
    font-weight: bold;
    background-color: map-get($colors , secondary );
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card-header-md + .card-content-md {
    padding-top: 5px;
  }
  .card-header-ios + .card-content-ios {
    padding-top: 5px;
  }

  .right-side {
    text-align: right;
  }
}
